# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
config.json
switchlang.log*
*.csv
data/*.txt
data/*.gz
data/*.json
!data/en_quadgrams.json
!data/he_quadgrams.json
!data/so_quadgrams.json
!data/collisions.json
!data/icon.ico
!data/icon.png
Bugs.md
Bugs 2.0.md
Output/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# testing and optimization
evaluation/*.txt
testing quadgram distances/
